body {
    margin: 0;
    padding: 0;
}

.title {
    padding: 1px;
    color: white;
    background: #373639;
    width: 100%;

    h1 {
        font-size: 3.5rem;
    }
}

input {
    height: 35px;
    width: 500px;
    margin-left: 10px;
    font-size: 1.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    padding-left: 10px;
}

input:focus {
    outline: none;
    border: 1px solid black;
    color: black;
}

.position {
    display: grid;
    grid-template-columns: (2, 200px);
    gap: 10px;

    #First-Name {
        width: 290px;
    }

    #Last-Name {
        width: 290px;
    }
}

.ImageAdd {
    cursor: pointer;
    h3 {
        margin: 0;
    }

    margin-left: 320px;
    position: absolute;
    border: 1px solid black;
    width: 200px;
    height: 90px;
    display: grid;
    justify-content: center;

    svg {
        margin-left: 45px;
    }
}

.Builder {
    border-radius: 5px;
    padding: 10px;
    width: 550px;
    margin-top: 20px;
    margin-left: 600px;
    border: 2px solid black;
}

input {
    grid-column: 1;
}

button {
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    background: #373639;
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.delete {
    margin-right: 25px;
}
